.element__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-color: transparent;
  background-image: url('../../../images/delete-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  padding: 0;
}

.element__delete-button:hover {
  opacity: 0.6;
}
