.element__title {
  max-width: 210px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .element__title {
    max-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .element__title {
    max-width: 150px;
  }
}
