@import url(./__logo/header__logo.css);

.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 45px 0 41px;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 28px 27px 31px;
  }
}
