.popup__submit {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  margin-top: 18px;
  padding: 14px 0;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
  }
}
