@import url(./__image/element__image.css);
@import url(./__info/element__info.css);
@import url(./__title/element__title.css);
@import url(./__like-button/element__like-button.css);
@import url(./__like-button/_active/element__like-button_active.css);
@import url(./__delete-button/element__delete-button.css);

.element {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
